<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AxModel.Data2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AX_2012_R2_modelEntities2" connectionString="metadata=res://*/AxModel.csdl|res://*/AxModel.ssdl|res://*/AxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sds-sql2012;initial catalog=AX_2012_R2_model;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AX_2012_R2Entities" connectionString="metadata=res://*/AxModels2012.csdl|res://*/AxModels2012.ssdl|res://*/AxModels2012.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AX_2012_CU2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<applicationSettings>
    <AxModel.Data2.Properties.Settings>
      <setting name="MinApplicationLayer" serializeAs="String">
        <value>8</value>
      </setting>
    </AxModel.Data2.Properties.Settings>
  </applicationSettings>-->
</configuration>